body {
  padding: 10px;
  margin: 10px;
}

.iv-loading-openurl {
  margin-top: 30px;
}

.iv-demo-doc-container {
  text-align: center;
  .iv-demo-doc {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 99%;
  }  
}

.iv-openurl-fulltext-btn {
  display: block;
  margin: auto;
  font-size: 2em;
  padding: 0.5em;
  background-color: #458CA5;
}


.iv-doc-record {

  .iv-author-affi {
    margin-left: 3px;
  }

  .iv-author-block {
    margin-right: 5px;
  }

  .iv-doc-record-ref {
    font-size: 80%;
  }
}



.pdf-context, .pdf-viewer {
  position: relative;
  width: 100%;
}
.pdf-viewer {
  padding-top: 3em;
  padding-bottom: 3em;
  //background: #3E3E3E
}
.pdf-page {
  position: relative;
  margin: 0 auto 3em auto;
  padding: 0;
  overflow: visible;
  background-clip: content-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.54);
  background-color: white;
}

footer.iv-footer {
  font-size: 80%;
  hr {
    margin-bottom: 5px;
  }
} 