body {
  padding: 10px;
  margin: 10px;
}

.iv-loading-openurl {
  margin-top: 30px;
}

.iv-demo-doc-container {
  text-align: center;
  .iv-demo-doc {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 99%;
  }  
}
